.cart {
  width: calc(100% - 33rem);
  padding: 2.4rem 3.2rem;
  display: flex;
  flex-direction: column;
}

.empty {
  margin-top: 2.4rem;
  font-size: 2.4rem;
  line-height: 3rem;
  color: var(--light);
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
  margin-top: 1.6rem;
  margin-bottom: 2.4rem;
}

.item {
  border-radius: 0.8rem;
  background: var(--bg);
  width: 100%;
  padding: 1.2rem 1.6rem;
  display: grid;
  grid-template-columns: 10rem 2fr 1fr 1.5fr 1fr 1.6rem;
  align-items: center;
  height: 7rem;
}

.image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.6rem;
  height: 100%;
}

.info {
  margin-left: 1.6rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.4rem;
}

.name {
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.6rem;
}

.category {
  font-size: 1rem;
  line-height: 1.2rem;
  color: var(--grey);
}
.proceed {
  border-radius: 1.6rem;
  padding: 0.9rem 2rem;
  font-weight: 600;
  line-height: 2rem;
  cursor: pointer;
}
.price {
  font-size: 1.4rem;
  line-height: 1.8rem;
}

.quantity {
  display: flex;
  align-items: center;
}

.quantity span {
  width: 4rem;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: var(--dark-sea);
}

.minus,
.plus {
  background: var(--dark-sea);
  border-radius: 0.6rem;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.quantity svg {
  width: 1.7rem;
  height: 1.7rem;
  fill: rgba(255, 255, 255, 0.5);
}

.plus:hover,
.minus:hover {
  background: var(--violet);
}

.plus:hover svg,
.minus:hover svg {
  fill: rgba(255, 255, 255, 1);
}

.close {
  cursor: pointer;
}

.close svg {
  width: 1.6rem;
  height: 1.6rem;
  stroke: rgba(255, 255, 255, 0.5);
}

.close:hover svg {
  stroke: rgba(255, 255, 255, 1);
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.total {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
  color: var(--grey);
}

.total span {
  color: #fff;
}
@media (max-width: 500px) {
  .cart {
    width: 100%;
  }
  .quantity {
    display: grid;
    text-align: center;
  }
  .quantity span  {
    width: auto;
  }
  .item {
    height: 100%;
    grid-template-columns: 10rem 3fr 1fr 0.5fr;
  }
}