.wrapper {
  width: 100%;
  padding: 2.4rem;
  flex-grow: 1;
}

.filters {
  display: flex;
  gap: 2rem;
  width: 100%;
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
}

.filter {
  background: var(--bg);
  border-radius: 0.8rem;
  padding: 1.2rem 2.4rem;
  width: max-content;
  display: flex;
  align-items: center;
  min-width: 22.5rem;
}

.full {
  width: 100%;
}

.filter input {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.6rem;
}

.filter span {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.6rem;
  color: var(--dark-sea);
  text-align: right;
}

.more {
  margin: 3.2rem auto 0 auto;
  text-align: center;
}

.back {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 2.4rem;
}
@media (max-width: 500px) {
  .filters {
    display: grid;
  }
  .filter {
    width: 100%;
    margin: 0;
  }
  .filter  {
    justify-content: space-between;
  }
}