.cart {
    width: calc(100% - 324px);
    padding: 24px 32px;
    display: flex;
    flex-direction: column;
}
.form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 4rem;
}
.title  {
    letter-spacing: 0.1rem;
}
.group {
    width: 20rem;
    background: #212123;
    border-radius: 8px;
    color: var(--light);
    padding: 12px 24px;
}

.group input {
    width: 100%;
}

.submit {
    width: 20rem;
}

.successfully   {
    position: fixed;
    bottom: 3rem;
    right: 2rem;
    width: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 8rem;
    gap: 1rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: forestgreen;
    animation: wheel 2s ;
    animation-fill-mode: backwards;
    z-index: 100;
    border-radius: 2rem;
}

@keyframes wheel {
    from { transform: translateX(20rem) rotate(0);}
    to { transform: translateY(0) rotate(0.1deg); }
}
.successfully::before {
    content: '';
    display: block;
    position: absolute;
    width: 1rem;
    height: 1rem;
    border-top: 0.5rem solid transparent;
    border-bottom: 2.5rem solid transparent;
    border-left: 3rem solid forestgreen;
    right: -3rem;
    bottom: 2rem;
}